<ul> <li>program:   0.</li><li>teacher:   2.2041618824</li><li>learner:   37.7941584587</li><li>ice:   39.9983613491</li></ul>


<ul><li>program:   0.
<ul><li>ice:   0.00691604614258
<ul><li>learner:   0.00678610801697</li></ul>
<ul><li>teacher:   0.000128030776978</li></ul></li></ul>
<ul><li>ice:   0.00882005691528
<ul><li>learner:   0.0087149143219</li></ul>
<ul><li>teacher:   0.000102996826172</li></ul></li></ul>
<ul><li>ice:   0.00975108146667
<ul><li>learner:   0.00962495803833</li></ul>
<ul><li>teacher:   0.000124931335449</li></ul></li></ul>
<ul><li>ice:   0.0213840007782
<ul><li>learner:   0.0211319923401</li></ul>
<ul><li>teacher:   0.000251054763794</li></ul></li></ul>
<ul><li>ice:   0.0243809223175
<ul><li>learner:   0.0239150524139</li></ul>
<ul><li>teacher:   0.000464916229248</li></ul></li></ul>
<ul><li>ice:   0.07768201828
<ul><li>learner:   0.0759508609772</li></ul>
<ul><li>teacher:   0.00172901153564</li></ul></li></ul>
<ul><li>ice:   0.141446828842
<ul><li>learner:   0.140432834625</li></ul>
<ul><li>teacher:   0.00101089477539</li></ul></li></ul>
<ul><li>ice:   0.18278503418
<ul><li>learner:   0.178591012955</li></ul>
<ul><li>teacher:   0.00419211387634</li></ul></li></ul>
<ul><li>ice:   0.288230895996
<ul><li>learner:   0.284119844437</li></ul>
<ul><li>teacher:   0.00410890579224</li></ul></li></ul>
<ul><li>ice:   0.366404056549
<ul><li>learner:   0.361593008041</li></ul>
<ul><li>teacher:   0.00480794906616</li></ul></li></ul>
<ul><li>ice:   0.555051088333
<ul><li>learner:   0.550929069519</li></ul>
<ul><li>teacher:   0.00412011146545</li></ul></li></ul>
<ul><li>ice:   9.56216597557
<ul><li>learner:   9.55904102325</li></ul>
<ul><li>teacher:   0.00312185287476</li></ul></li></ul>
<ul><li>ice:   2.35070300102
<ul><li>learner:   2.34205698967</li></ul>
<ul><li>teacher:   0.00864386558533</li></ul></li></ul>
<ul><li>ice:   3.578810215
<ul><li>learner:   3.57455801964</li></ul>
<ul><li>teacher:   0.00425004959106</li></ul></li></ul>
<ul><li>ice:   2.42554998398
<ul><li>learner:   2.42169594765</li></ul>
<ul><li>teacher:   0.00385212898254</li></ul></li></ul>
<ul><li>ice:   3.58817791939
<ul><li>learner:   3.57929301262</li></ul>
<ul><li>teacher:   0.00888299942017</li></ul></li></ul>
<ul><li>ice:   3.99775099754
<ul><li>learner:   3.99275898933</li></ul>
<ul><li>teacher:   0.0049901008606</li></ul></li></ul>
<ul><li>ice:   5.77838420868
<ul><li>learner:   5.76061201096</li></ul>
<ul><li>teacher:   0.0177690982819</li></ul></li></ul>
<ul><li>ice:   7.03396701813
<ul><li>learner:   4.90235280991</li></ul>
<ul><li>teacher:   2.13161087036</li></ul></li></ul></li></ul>
