<h1>Benchmark results</h1>

True properties as (Proved,DontKnow,Disproved): (64, 77, 0) ------- False properties as (Proved,DontKnow,Disproved): (0, 1, 31)

<h2>POSITIVE INSTANCES</h2>

<table>
<tr>
<th>Instance name</th>
<th>Answer</th>
<th>Time (in sec)</th>
<th>ICE iterations</th>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/append_equal_elt.smt2">append_equal_elt</a>
</td>
<td><a href="true/log_append_equal_elt.txt">Unknown</a>
</td>
<td>40.0000</td>
<td>40</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/append_equal_nat.smt2">append_equal_nat</a>
</td>
<td><a href="true/log_append_equal_nat.txt">Unknown</a>
</td>
<td>40.0001</td>
<td>17</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/append_length_commutative.smt2">append_length_commutative</a>
</td>
<td><a href="true/log_append_length_commutative.txt">Unknown</a>
</td>
<td>40.0815</td>
<td>73</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/append_length_leq_elt.smt2">append_length_leq_elt</a>
</td>
<td><a href="true/log_append_length_leq_elt.txt">Unknown</a>
</td>
<td>40.9833</td>
<td>85</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/append_length_leq_nat.smt2">append_length_leq_nat</a>
</td>
<td><a href="true/log_append_length_leq_nat.txt">Unknown</a>
</td>
<td>40.0002</td>
<td>64</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/append_not_null_cons_elt.smt2">append_not_null_cons_elt</a>
</td>
<td><a href="true/log_append_not_null_cons_elt.txt">Proved</a>
</td>
<td>0.1508</td>
<td>16</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/append_not_null_cons_nat.smt2">append_not_null_cons_nat</a>
</td>
<td><a href="true/log_append_not_null_cons_nat.txt">Unknown</a>
</td>
<td>40.0006</td>
<td>18</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/append_not_null_elt.smt2">append_not_null_elt</a>
</td>
<td><a href="true/log_append_not_null_elt.txt">Proved</a>
</td>
<td>0.1247</td>
<td>16</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/append_not_null_nat.smt2">append_not_null_nat</a>
</td>
<td><a href="true/log_append_not_null_nat.txt">Unknown</a>
</td>
<td>40.0000</td>
<td>19</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/cons_injectivity_1.smt2">cons_injectivity_1</a>
</td>
<td><a href="true/log_cons_injectivity_1.txt">Proved</a>
</td>
<td>0.0039</td>
<td>0</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/cons_injectivity_2.smt2">cons_injectivity_2</a>
</td>
<td><a href="true/log_cons_injectivity_2.txt">Proved</a>
</td>
<td>0.0033</td>
<td>0</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/cons_not_null.smt2">cons_not_null</a>
</td>
<td><a href="true/log_cons_not_null.txt">Proved</a>
</td>
<td>0.0138</td>
<td>3</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/delete_one_insert.smt2">delete_one_insert</a>
</td>
<td><a href="true/log_delete_one_insert.txt">Unknown</a>
</td>
<td>40.0005</td>
<td>80</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/drop_length_minus.smt2">drop_length_minus</a>
</td>
<td><a href="true/log_drop_length_minus.txt">Unknown</a>
</td>
<td>40.4533</td>
<td>108</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/fst_elist.smt2">fst_elist</a>
</td>
<td><a href="true/log_fst_elist.txt">Unknown</a>
</td>
<td>40.8427</td>
<td>107</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/fst_elt.smt2">fst_elt</a>
</td>
<td><a href="true/log_fst_elt.txt">Proved</a>
</td>
<td>0.0263</td>
<td>5</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/fst_nat.smt2">fst_nat</a>
</td>
<td><a href="true/log_fst_nat.txt">Proved</a>
</td>
<td>0.0403</td>
<td>8</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/fst_nlist.smt2">fst_nlist</a>
</td>
<td><a href="true/log_fst_nlist.txt">Unknown</a>
</td>
<td>40.0920</td>
<td>108</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/insert_length_eq.smt2">insert_length_eq</a>
</td>
<td><a href="true/log_insert_length_eq.txt">Unknown</a>
</td>
<td>40.3832</td>
<td>82</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/insert_length_leq.smt2">insert_length_leq</a>
</td>
<td><a href="true/log_insert_length_leq.txt">Unknown</a>
</td>
<td>40.4805</td>
<td>95</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/insert_not_nil.smt2">insert_not_nil</a>
</td>
<td><a href="true/log_insert_not_nil.txt">Proved</a>
</td>
<td>0.0820</td>
<td>15</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop10.smt2">isaplanner_prop10</a>
</td>
<td><a href="true/log_isaplanner_prop10.txt">Proved</a>
</td>
<td>0.2058</td>
<td>21</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop11.smt2">isaplanner_prop11</a>
</td>
<td><a href="true/log_isaplanner_prop11.txt">Proved</a>
</td>
<td>0.9071</td>
<td>25</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop13.smt2">isaplanner_prop13</a>
</td>
<td><a href="true/log_isaplanner_prop13.txt">Unknown</a>
</td>
<td>40.5608</td>
<td>80</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop15.smt2">isaplanner_prop15</a>
</td>
<td><a href="true/log_isaplanner_prop15.txt">Unknown</a>
</td>
<td>40.8668</td>
<td>99</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop16.smt2">isaplanner_prop16</a>
</td>
<td><a href="true/log_isaplanner_prop16.txt">Proved</a>
</td>
<td>0.1542</td>
<td>20</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop17.smt2">isaplanner_prop17</a>
</td>
<td><a href="true/log_isaplanner_prop17.txt">Proved</a>
</td>
<td>0.0500</td>
<td>11</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop18.smt2">isaplanner_prop18</a>
</td>
<td><a href="true/log_isaplanner_prop18.txt">Proved</a>
</td>
<td>0.0458</td>
<td>10</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop19.smt2">isaplanner_prop19</a>
</td>
<td><a href="true/log_isaplanner_prop19.txt">Unknown</a>
</td>
<td>40.1762</td>
<td>116</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop20.smt2">isaplanner_prop20</a>
</td>
<td><a href="true/log_isaplanner_prop20.txt">Unknown</a>
</td>
<td>40.0002</td>
<td>24</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop21.smt2">isaplanner_prop21</a>
</td>
<td><a href="true/log_isaplanner_prop21.txt">Proved</a>
</td>
<td>0.0517</td>
<td>10</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop22.smt2">isaplanner_prop22</a>
</td>
<td><a href="true/log_isaplanner_prop22.txt">Proved</a>
</td>
<td>0.0257</td>
<td>5</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop23.smt2">isaplanner_prop23</a>
</td>
<td><a href="true/log_isaplanner_prop23.txt">Proved</a>
</td>
<td>0.0251</td>
<td>5</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop24.smt2">isaplanner_prop24</a>
</td>
<td><a href="true/log_isaplanner_prop24.txt">Proved</a>
</td>
<td>0.0422</td>
<td>9</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop25.smt2">isaplanner_prop25</a>
</td>
<td><a href="true/log_isaplanner_prop25.txt">Proved</a>
</td>
<td>0.0419</td>
<td>9</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop26.smt2">isaplanner_prop26</a>
</td>
<td><a href="true/log_isaplanner_prop26.txt">Proved</a>
</td>
<td>21.9086</td>
<td>54</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop27.smt2">isaplanner_prop27</a>
</td>
<td><a href="true/log_isaplanner_prop27.txt">Unknown</a>
</td>
<td>40.3123</td>
<td>84</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop28.smt2">isaplanner_prop28</a>
</td>
<td><a href="true/log_isaplanner_prop28.txt">Unknown</a>
</td>
<td>40.0009</td>
<td>87</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop31.smt2">isaplanner_prop31</a>
</td>
<td><a href="true/log_isaplanner_prop31.txt">Proved</a>
</td>
<td>0.0255</td>
<td>5</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop32.smt2">isaplanner_prop32</a>
</td>
<td><a href="true/log_isaplanner_prop32.txt">Proved</a>
</td>
<td>0.0231</td>
<td>5</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop33.smt2">isaplanner_prop33</a>
</td>
<td><a href="true/log_isaplanner_prop33.txt">Proved</a>
</td>
<td>0.0533</td>
<td>9</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop34.smt2">isaplanner_prop34</a>
</td>
<td><a href="true/log_isaplanner_prop34.txt">Proved</a>
</td>
<td>0.0414</td>
<td>9</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop4.smt2">isaplanner_prop4</a>
</td>
<td><a href="true/log_isaplanner_prop4.txt">Unknown</a>
</td>
<td>40.0014</td>
<td>88</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop40.smt2">isaplanner_prop40</a>
</td>
<td><a href="true/log_isaplanner_prop40.txt">Proved</a>
</td>
<td>0.0707</td>
<td>13</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop42.smt2">isaplanner_prop42</a>
</td>
<td><a href="true/log_isaplanner_prop42.txt">Unknown</a>
</td>
<td>40.4363</td>
<td>73</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop44.smt2">isaplanner_prop44</a>
</td>
<td><a href="true/log_isaplanner_prop44.txt">Proved</a>
</td>
<td>35.9619</td>
<td>83</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop45.smt2">isaplanner_prop45</a>
</td>
<td><a href="true/log_isaplanner_prop45.txt">Proved</a>
</td>
<td>0.3237</td>
<td>27</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop49.smt2">isaplanner_prop49</a>
</td>
<td><a href="true/log_isaplanner_prop49.txt">Unknown</a>
</td>
<td>40.1165</td>
<td>83</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop51.smt2">isaplanner_prop51</a>
</td>
<td><a href="true/log_isaplanner_prop51.txt">Unknown</a>
</td>
<td>40.2924</td>
<td>64</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop54.smt2">isaplanner_prop54</a>
</td>
<td><a href="true/log_isaplanner_prop54.txt">Unknown</a>
</td>
<td>40.0688</td>
<td>104</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop59.smt2">isaplanner_prop59</a>
</td>
<td><a href="true/log_isaplanner_prop59.txt">Unknown</a>
</td>
<td>40.2692</td>
<td>88</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop65.smt2">isaplanner_prop65</a>
</td>
<td><a href="true/log_isaplanner_prop65.txt">Proved</a>
</td>
<td>0.0445</td>
<td>10</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop68.smt2">isaplanner_prop68</a>
</td>
<td><a href="true/log_isaplanner_prop68.txt">Unknown</a>
</td>
<td>40.0005</td>
<td>35</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop69.smt2">isaplanner_prop69</a>
</td>
<td><a href="true/log_isaplanner_prop69.txt">Proved</a>
</td>
<td>0.0480</td>
<td>11</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop70.smt2">isaplanner_prop70</a>
</td>
<td><a href="true/log_isaplanner_prop70.txt">Proved</a>
</td>
<td>0.0176</td>
<td>4</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop79.smt2">isaplanner_prop79</a>
</td>
<td><a href="true/log_isaplanner_prop79.txt">Unknown</a>
</td>
<td>40.3428</td>
<td>70</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/isaplanner_prop80.smt2">isaplanner_prop80</a>
</td>
<td><a href="true/log_isaplanner_prop80.txt">Unknown</a>
</td>
<td>40.0002</td>
<td>62</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_append_le_z.smt2">length_append_le_z</a>
</td>
<td><a href="true/log_length_append_le_z.txt">Proved</a>
</td>
<td>0.1864</td>
<td>22</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_append_to_plus.smt2">length_append_to_plus</a>
</td>
<td><a href="true/log_length_append_to_plus.txt">Unknown</a>
</td>
<td>40.0002</td>
<td>75</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_cons_le.smt2">length_cons_le</a>
</td>
<td><a href="true/log_length_cons_le.txt">Unknown</a>
</td>
<td>40.4062</td>
<td>103</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_cons_le_fun_elt.smt2">length_cons_le_fun_elt</a>
</td>
<td><a href="true/log_length_cons_le_fun_elt.txt">Unknown</a>
</td>
<td>40.8876</td>
<td>89</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_cons_le_fun_nat.smt2">length_cons_le_fun_nat</a>
</td>
<td><a href="true/log_length_cons_le_fun_nat.txt">Unknown</a>
</td>
<td>40.0002</td>
<td>35</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_cons_le_tsil.smt2">length_cons_le_tsil</a>
</td>
<td><a href="true/log_length_cons_le_tsil.txt">Proved</a>
</td>
<td>0.0262</td>
<td>6</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_cons_s.smt2">length_cons_s</a>
</td>
<td><a href="true/log_length_cons_s.txt">Unknown</a>
</td>
<td>40.7230</td>
<td>84</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_count.smt2">length_count</a>
</td>
<td><a href="true/log_length_count.txt">Unknown</a>
</td>
<td>40.8030</td>
<td>97</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_delete_leq.smt2">length_delete_leq</a>
</td>
<td><a href="true/log_length_delete_leq.txt">Unknown</a>
</td>
<td>40.6509</td>
<td>83</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_delete_minus_count.smt2">length_delete_minus_count</a>
</td>
<td><a href="true/log_length_delete_minus_count.txt">Unknown</a>
</td>
<td>40.2061</td>
<td>118</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_reverse_eq.smt2">length_reverse_eq</a>
</td>
<td><a href="true/log_length_reverse_eq.txt">Unknown</a>
</td>
<td>40.8916</td>
<td>76</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_reverse_eq_nat.smt2">length_reverse_eq_nat</a>
</td>
<td><a href="true/log_length_reverse_eq_nat.txt">Unknown</a>
</td>
<td>40.0003</td>
<td>49</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_reverse_leq_elt.smt2">length_reverse_leq_elt</a>
</td>
<td><a href="true/log_length_reverse_leq_elt.txt">Unknown</a>
</td>
<td>40.4785</td>
<td>105</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_reverse_leq_nat.smt2">length_reverse_leq_nat</a>
</td>
<td><a href="true/log_length_reverse_leq_nat.txt">Unknown</a>
</td>
<td>40.0006</td>
<td>48</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/length_take_if.smt2">length_take_if</a>
</td>
<td><a href="true/log_length_take_if.txt">Unknown</a>
</td>
<td>40.5286</td>
<td>105</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/leq_leq_eq.smt2">leq_leq_eq</a>
</td>
<td><a href="true/log_leq_leq_eq.txt">Proved</a>
</td>
<td>0.0489</td>
<td>6</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/list_delete_all_count.smt2">list_delete_all_count</a>
</td>
<td><a href="true/log_list_delete_all_count.txt">Unknown</a>
</td>
<td>40.8551</td>
<td>117</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/max_nat.smt2">max_nat</a>
</td>
<td><a href="true/log_max_nat.txt">Proved</a>
</td>
<td>0.0551</td>
<td>12</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/mem_implies_positive_count.smt2">mem_implies_positive_count</a>
</td>
<td><a href="true/log_mem_implies_positive_count.txt">Proved</a>
</td>
<td>1.4513</td>
<td>64</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/mem_reverse.smt2">mem_reverse</a>
</td>
<td><a href="true/log_mem_reverse.txt">Unknown</a>
</td>
<td>40.5546</td>
<td>98</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/member_equal_ab.smt2">member_equal_ab</a>
</td>
<td><a href="true/log_member_equal_ab.txt">Proved</a>
</td>
<td>0.4048</td>
<td>28</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/member_equal_nat.smt2">member_equal_nat</a>
</td>
<td><a href="true/log_member_equal_nat.txt">Unknown</a>
</td>
<td>40.0009</td>
<td>78</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/merge_length_leq.smt2">merge_length_leq</a>
</td>
<td><a href="true/log_merge_length_leq.txt">Unknown</a>
</td>
<td>40.1971</td>
<td>92</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/min_of_plus_and_max.smt2">min_of_plus_and_max</a>
</td>
<td><a href="true/log_min_of_plus_and_max.txt">Unknown</a>
</td>
<td>40.4382</td>
<td>124</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/mult_leq_not_null.smt2">mult_leq_not_null</a>
</td>
<td><a href="true/log_mult_leq_not_null.txt">Proved</a>
</td>
<td>0.3682</td>
<td>34</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/mult_leq_succ.smt2">mult_leq_succ</a>
</td>
<td><a href="true/log_mult_leq_succ.txt">Proved</a>
</td>
<td>0.3116</td>
<td>34</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/nat_double_is_even.smt2">nat_double_is_even</a>
</td>
<td><a href="true/log_nat_double_is_even.txt">Proved</a>
</td>
<td>0.0472</td>
<td>10</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/nat_double_is_le.smt2">nat_double_is_le</a>
</td>
<td><a href="true/log_nat_double_is_le.txt">Proved</a>
</td>
<td>0.0447</td>
<td>10</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/nat_double_is_zero.smt2">nat_double_is_zero</a>
</td>
<td><a href="true/log_nat_double_is_zero.txt">Proved</a>
</td>
<td>0.0215</td>
<td>5</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/nat_double_is_zero_ite.smt2">nat_double_is_zero_ite</a>
</td>
<td><a href="true/log_nat_double_is_zero_ite.txt">Proved</a>
</td>
<td>0.0221</td>
<td>5</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/not_null_transitive.smt2">not_null_transitive</a>
</td>
<td><a href="true/log_not_null_transitive.txt">Proved</a>
</td>
<td>0.0136</td>
<td>3</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/plus_commutative.smt2">plus_commutative</a>
</td>
<td><a href="true/log_plus_commutative.txt">Unknown</a>
</td>
<td>40.5570</td>
<td>69</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/plus_even_even.smt2">plus_even_even</a>
</td>
<td><a href="true/log_plus_even_even.txt">Proved</a>
</td>
<td>0.1074</td>
<td>18</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/plus_le.smt2">plus_le</a>
</td>
<td><a href="true/log_plus_le.txt">Proved</a>
</td>
<td>0.1374</td>
<td>21</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/plus_le_le.smt2">plus_le_le</a>
</td>
<td><a href="true/log_plus_le_le.txt">Proved</a>
</td>
<td>0.1379</td>
<td>22</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/plus_not_zero_implication.smt2">plus_not_zero_implication</a>
</td>
<td><a href="true/log_plus_not_zero_implication.txt">Proved</a>
</td>
<td>0.1012</td>
<td>10</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/plus_odd_odd_even.smt2">plus_odd_odd_even</a>
</td>
<td><a href="true/log_plus_odd_odd_even.txt">Proved</a>
</td>
<td>0.1341</td>
<td>21</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/plus_succ_le_1.smt2">plus_succ_le_1</a>
</td>
<td><a href="true/log_plus_succ_le_1.txt">Proved</a>
</td>
<td>0.1536</td>
<td>22</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/plus_succ_le_2.smt2">plus_succ_le_2</a>
</td>
<td><a href="true/log_plus_succ_le_2.txt">Proved</a>
</td>
<td>0.1201</td>
<td>21</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/plus_succ_not_zero.smt2">plus_succ_not_zero</a>
</td>
<td><a href="true/log_plus_succ_not_zero.txt">Proved</a>
</td>
<td>0.0498</td>
<td>10</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/prefix_append.smt2">prefix_append</a>
</td>
<td><a href="true/log_prefix_append.txt">Proved</a>
</td>
<td>21.3547</td>
<td>34</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/prefix_count.smt2">prefix_count</a>
</td>
<td><a href="true/log_prefix_count.txt">Unknown</a>
</td>
<td>40.0644</td>
<td>95</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/prefix_nil.smt2">prefix_nil</a>
</td>
<td><a href="true/log_prefix_nil.txt">Proved</a>
</td>
<td>0.0322</td>
<td>6</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/reverse_not_null.smt2">reverse_not_null</a>
</td>
<td><a href="true/log_reverse_not_null.txt">Proved</a>
</td>
<td>0.2025</td>
<td>25</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/sort_append.smt2">sort_append</a>
</td>
<td><a href="true/log_sort_append.txt">Unknown</a>
</td>
<td>40.0003</td>
<td>63</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/sort_cons.smt2">sort_cons</a>
</td>
<td><a href="true/log_sort_cons.txt">Unknown</a>
</td>
<td>40.0001</td>
<td>28</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/sort_length_eq.smt2">sort_length_eq</a>
</td>
<td><a href="true/log_sort_length_eq.txt">Unknown</a>
</td>
<td>40.1462</td>
<td>67</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/sort_reverse.smt2">sort_reverse</a>
</td>
<td><a href="true/log_sort_reverse.txt">Unknown</a>
</td>
<td>40.5130</td>
<td>94</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/swap_swap_eq_elt.smt2">swap_swap_eq_elt</a>
</td>
<td><a href="true/log_swap_swap_eq_elt.txt">Proved</a>
</td>
<td>0.0354</td>
<td>7</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/swap_swap_eq_nat.smt2">swap_swap_eq_nat</a>
</td>
<td><a href="true/log_swap_swap_eq_nat.txt">Unknown</a>
</td>
<td>40.1243</td>
<td>86</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/timbuk_delete_not_member.smt2">timbuk_delete_not_member</a>
</td>
<td><a href="true/log_timbuk_delete_not_member.txt">Proved</a>
</td>
<td>0.9262</td>
<td>51</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/timbuk_equalNat.smt2">timbuk_equalNat</a>
</td>
<td><a href="true/log_timbuk_equalNat.txt">Proved</a>
</td>
<td>0.0038</td>
<td>0</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/timbuk_insertionSort_elt.smt2">timbuk_insertionSort_elt</a>
</td>
<td><a href="true/log_timbuk_insertionSort_elt.txt">Proved</a>
</td>
<td>0.1938</td>
<td>19</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/timbuk_plus_even.smt2">timbuk_plus_even</a>
</td>
<td><a href="true/log_timbuk_plus_even.txt">Proved</a>
</td>
<td>0.2117</td>
<td>20</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/timbuk_replaceTree.smt2">timbuk_replaceTree</a>
</td>
<td><a href="true/log_timbuk_replaceTree.txt">Unknown</a>
</td>
<td>40.3450</td>
<td>62</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/timbuk_reverse.smt2">timbuk_reverse</a>
</td>
<td><a href="true/log_timbuk_reverse.txt">Proved</a>
</td>
<td>0.3568</td>
<td>30</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/timbuk_reverseImplies.smt2">timbuk_reverseImplies</a>
</td>
<td><a href="true/log_timbuk_reverseImplies.txt">Proved</a>
</td>
<td>0.4007</td>
<td>40</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_add_not_eq.smt2">tree_add_not_eq</a>
</td>
<td><a href="true/log_tree_add_not_eq.txt">Proved</a>
</td>
<td>0.0064</td>
<td>0</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_depth_le_node.smt2">tree_depth_le_node</a>
</td>
<td><a href="true/log_tree_depth_le_node.txt">Unknown</a>
</td>
<td>40.0004</td>
<td>37</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_depth_leq_size.smt2">tree_depth_leq_size</a>
</td>
<td><a href="true/log_tree_depth_leq_size.txt">Unknown</a>
</td>
<td>40.5961</td>
<td>99</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_flip_heightRB_heightLB.smt2">tree_flip_heightRB_heightLB</a>
</td>
<td><a href="true/log_tree_flip_heightRB_heightLB.txt">Unknown</a>
</td>
<td>40.7942</td>
<td>43</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_flip_preserves_member.smt2">tree_flip_preserves_member</a>
</td>
<td><a href="true/log_tree_flip_preserves_member.txt">Unknown</a>
</td>
<td>40.0009</td>
<td>16</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_flip_preserves_size.smt2">tree_flip_preserves_size</a>
</td>
<td><a href="true/log_tree_flip_preserves_size.txt">Unknown</a>
</td>
<td>41.0321</td>
<td>62</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_flip_preserves_subtree.smt2">tree_flip_preserves_subtree</a>
</td>
<td><a href="true/log_tree_flip_preserves_subtree.txt">Unknown</a>
</td>
<td>40.0032</td>
<td>17</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_flip_twice.smt2">tree_flip_twice</a>
</td>
<td><a href="true/log_tree_flip_twice.txt">Unknown</a>
</td>
<td>40.0352</td>
<td>13</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_heightMIDDLE.smt2">tree_heightMIDDLE</a>
</td>
<td><a href="true/log_tree_heightMIDDLE.txt">Unknown</a>
</td>
<td>40.0884</td>
<td>39</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_heightRB_node_le.smt2">tree_heightRB_node_le</a>
</td>
<td><a href="true/log_tree_heightRB_node_le.txt">Unknown</a>
</td>
<td>40.0001</td>
<td>29</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_heightRB_subtree.smt2">tree_heightRB_subtree</a>
</td>
<td><a href="true/log_tree_heightRB_subtree.txt">Unknown</a>
</td>
<td>40.0032</td>
<td>28</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_height_heightRB.smt2">tree_height_heightRB</a>
</td>
<td><a href="true/log_tree_height_heightRB.txt">Unknown</a>
</td>
<td>40.0003</td>
<td>57</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_height_node_leq.smt2">tree_height_node_leq</a>
</td>
<td><a href="true/log_tree_height_node_leq.txt">Proved</a>
</td>
<td>0.0872</td>
<td>12</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_height_numnodes_le.smt2">tree_height_numnodes_le</a>
</td>
<td><a href="true/log_tree_height_numnodes_le.txt">Unknown</a>
</td>
<td>40.3358</td>
<td>75</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_higher_leq.smt2">tree_higher_leq</a>
</td>
<td><a href="true/log_tree_higher_leq.txt">Unknown</a>
</td>
<td>40.0662</td>
<td>43</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_injectivity_1.smt2">tree_injectivity_1</a>
</td>
<td><a href="true/log_tree_injectivity_1.txt">Proved</a>
</td>
<td>0.0387</td>
<td>0</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_member_leq_size.smt2">tree_member_leq_size</a>
</td>
<td><a href="true/log_tree_member_leq_size.txt">Unknown</a>
</td>
<td>40.0021</td>
<td>103</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_nat_depth_leq_size.smt2">tree_nat_depth_leq_size</a>
</td>
<td><a href="true/log_tree_nat_depth_leq_size.txt">Unknown</a>
</td>
<td>40.0455</td>
<td>88</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_nat_flip_twice.smt2">tree_nat_flip_twice</a>
</td>
<td><a href="true/log_tree_nat_flip_twice.txt">Unknown</a>
</td>
<td>40.0004</td>
<td>11</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_shallow_leq.smt2">tree_shallow_leq</a>
</td>
<td><a href="true/log_tree_shallow_leq.txt">Unknown</a>
</td>
<td>40.9722</td>
<td>54</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_shallow_max.smt2">tree_shallow_max</a>
</td>
<td><a href="true/log_tree_shallow_max.txt">Unknown</a>
</td>
<td>40.0332</td>
<td>54</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_shallow_taller_node.smt2">tree_shallow_taller_node</a>
</td>
<td><a href="true/log_tree_shallow_taller_node.txt">Unknown</a>
</td>
<td>40.0017</td>
<td>28</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_shallow_taller_subtree.smt2">tree_shallow_taller_subtree</a>
</td>
<td><a href="true/log_tree_shallow_taller_subtree.txt">Unknown</a>
</td>
<td>40.0029</td>
<td>79</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_shallower_rec_leq.smt2">tree_shallower_rec_leq</a>
</td>
<td><a href="true/log_tree_shallower_rec_leq.txt">Unknown</a>
</td>
<td>40.0041</td>
<td>21</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_shallower_rec_node_le.smt2">tree_shallower_rec_node_le</a>
</td>
<td><a href="true/log_tree_shallower_rec_node_le.txt">Unknown</a>
</td>
<td>40.0040</td>
<td>27</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_size_le_node.smt2">tree_size_le_node</a>
</td>
<td><a href="true/log_tree_size_le_node.txt">Unknown</a>
</td>
<td>40.0003</td>
<td>68</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/true/tree_strict_subtree_trans.smt2">tree_strict_subtree_trans</a>
</td>
<td><a href="true/log_tree_strict_subtree_trans.txt">Proved</a>
</td>
<td>1.3524</td>
<td>5</td>
</tr>
</table>
<h2>NEGATIVE INSTANCES</h2>

<table>
<tr>
<th>Instance name</th>
<th>Answer</th>
<th>Time (in sec)</th>
<th>ICE iterations</th>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/append_equal.smt2">append_equal</a>
</td>
<td><a href="true/log_append_equal.txt">Disproved</a>
</td>
<td>0.0171</td>
<td>4</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/append_length_le.smt2">append_length_le</a>
</td>
<td><a href="true/log_append_length_le.txt">Disproved</a>
</td>
<td>0.0310</td>
<td>8</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/cons_is_equal.smt2">cons_is_equal</a>
</td>
<td><a href="true/log_cons_is_equal.txt">Disproved</a>
</td>
<td>0.0057</td>
<td>1</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/cons_not_null.smt2">cons_not_null</a>
</td>
<td><a href="true/log_cons_not_null.txt">Disproved</a>
</td>
<td>0.0114</td>
<td>3</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/insert_length_eq.smt2">insert_length_eq</a>
</td>
<td><a href="true/log_insert_length_eq.txt">Disproved</a>
</td>
<td>0.0843</td>
<td>11</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/isaplanner_prop11.smt2">isaplanner_prop11</a>
</td>
<td><a href="true/log_isaplanner_prop11.txt">Disproved</a>
</td>
<td>0.0362</td>
<td>3</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/length_take.smt2">length_take</a>
</td>
<td><a href="true/log_length_take.txt">Disproved</a>
</td>
<td>0.0720</td>
<td>6</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/list_delete_all_count.smt2">list_delete_all_count</a>
</td>
<td><a href="true/log_list_delete_all_count.txt">Disproved</a>
</td>
<td>0.1162</td>
<td>10</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/max_nat.smt2">max_nat</a>
</td>
<td><a href="true/log_max_nat.txt">Disproved</a>
</td>
<td>0.1241</td>
<td>10</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/member_cons.smt2">member_cons</a>
</td>
<td><a href="true/log_member_cons.txt">Disproved</a>
</td>
<td>0.0588</td>
<td>5</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/mult_leq.smt2">mult_leq</a>
</td>
<td><a href="true/log_mult_leq.txt">Disproved</a>
</td>
<td>0.1542</td>
<td>14</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/nat_double_is_le.smt2">nat_double_is_le</a>
</td>
<td><a href="true/log_nat_double_is_le.txt">Disproved</a>
</td>
<td>0.0707</td>
<td>6</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/plus_even_implies.smt2">plus_even_implies</a>
</td>
<td><a href="true/log_plus_even_implies.txt">Disproved</a>
</td>
<td>0.1164</td>
<td>11</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/plus_le.smt2">plus_le</a>
</td>
<td><a href="true/log_plus_le.txt">Disproved</a>
</td>
<td>0.0604</td>
<td>5</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/plus_odd_odd.smt2">plus_odd_odd</a>
</td>
<td><a href="true/log_plus_odd_odd.txt">Disproved</a>
</td>
<td>0.1049</td>
<td>9</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/prefix_append.smt2">prefix_append</a>
</td>
<td><a href="true/log_prefix_append.txt">Disproved</a>
</td>
<td>0.2530</td>
<td>19</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/prefix_count.smt2">prefix_count</a>
</td>
<td><a href="true/log_prefix_count.txt">Disproved</a>
</td>
<td>0.1020</td>
<td>11</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/reverse_not_null.smt2">reverse_not_null</a>
</td>
<td><a href="true/log_reverse_not_null.txt">Disproved</a>
</td>
<td>0.0663</td>
<td>6</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/sort_bug_length_eq.smt2">sort_bug_length_eq</a>
</td>
<td><a href="true/log_sort_bug_length_eq.txt">Disproved</a>
</td>
<td>28.6298</td>
<td>85</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/successor_is_equal.smt2">successor_is_equal</a>
</td>
<td><a href="true/log_successor_is_equal.txt">Disproved</a>
</td>
<td>0.0079</td>
<td>1</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/timbuk_deleteBUG.smt2">timbuk_deleteBUG</a>
</td>
<td><a href="true/log_timbuk_deleteBUG.txt">Disproved</a>
</td>
<td>0.0298</td>
<td>7</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/timbuk_equal.smt2">timbuk_equal</a>
</td>
<td><a href="true/log_timbuk_equal.txt">Disproved</a>
</td>
<td>0.0057</td>
<td>1</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/timbuk_reverseBUGimplies.smt2">timbuk_reverseBUGimplies</a>
</td>
<td><a href="true/log_timbuk_reverseBUGimplies.txt">Disproved</a>
</td>
<td>0.0574</td>
<td>13</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/tree_depth_le_error.smt2">tree_depth_le_error</a>
</td>
<td><a href="true/log_tree_depth_le_error.txt">Disproved</a>
</td>
<td>0.0527</td>
<td>14</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/tree_depth_max_error.smt2">tree_depth_max_error</a>
</td>
<td><a href="true/log_tree_depth_max_error.txt">Disproved</a>
</td>
<td>0.0375</td>
<td>9</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/tree_depth_subtree_error.smt2">tree_depth_subtree_error</a>
</td>
<td><a href="true/log_tree_depth_subtree_error.txt">Disproved</a>
</td>
<td>0.0430</td>
<td>11</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/tree_heightMIDDLE_error.smt2">tree_heightMIDDLE_error</a>
</td>
<td><a href="true/log_tree_heightMIDDLE_error.txt">Disproved</a>
</td>
<td>2.7714</td>
<td>30</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/tree_height_numnodes_error.smt2">tree_height_numnodes_error</a>
</td>
<td><a href="true/log_tree_height_numnodes_error.txt">Disproved</a>
</td>
<td>0.1405</td>
<td>18</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/tree_shallow_leq_error.smt2">tree_shallow_leq_error</a>
</td>
<td><a href="true/log_tree_shallow_leq_error.txt">Disproved</a>
</td>
<td>6.6324</td>
<td>26</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/tree_shallow_subtree_error.smt2">tree_shallow_subtree_error</a>
</td>
<td><a href="true/log_tree_shallow_subtree_error.txt">Disproved</a>
</td>
<td>0.3844</td>
<td>23</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/tree_subtree_height_error.smt2">tree_subtree_height_error</a>
</td>
<td><a href="true/log_tree_subtree_height_error.txt">Unknown</a>
</td>
<td>40.0025</td>
<td>22</td>
</tr>
<tr>
<td><a href="../../benchmarks/smtlib/false/tree_taller_max.smt2">tree_taller_max</a>
</td>
<td><a href="true/log_tree_taller_max.txt">Disproved</a>
</td>
<td>0.2706</td>
<td>29</td>
</tr>
</table>
