<title>
	Benchmarks results
</title>

<ul>
	<li>
		<a href="./benchmarks_results/results_40_shocs/benchmarks.html">Shallow Horn Clauses</a>
	</li>
	<li>
		<a href="./benchmarks_results/results_40_left/benchmarks.html">Left-convoluted automata</a>
	</li>
	<li>
		<a href="./benchmarks_results/results_40_right/benchmarks.html">Right-convoluted automata</a>
	</li>
	<li>
		<a href="./benchmarks_results/results_20_complete/benchmarks.html">Complete-convoluted automata</a>
	</li>
</ul>